body {
    background-color: burlywood;
}

h1 {color: rebeccapurple;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    width: 300px;
}

.remove_col {
    width: 50px;
}

td {
    height: 200px;
}

tr:hover {
    background-color: aquamarine;
}

caption {
    caption-side: bottom;
}

input {
    width: 100%;
    border: 0px;
    outline: none;
    text-align: center;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
}
